<a href="https://colab.research.google.com/github/chaelysh6z/Python-100/blob/main/Python_100%EC%A0%9C(1~10).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python 100제**

## 문제1 : 리스트의 삭제
다음 리스트에서 400, 500를 삭제하는 code를 입력하세요.

In [ ]:
nums = [100, 200, 300, 400, 500]
nums.pop()
nums.pop()
print(nums)

[100, 200, 300]

## 문제2 : 리스트의 내장함수
<pass>부분에 리스트 내장함수를 insert를 이용하여 코드를 입력하고 다음과 같이 출력되게 하세요.

In [ ]:
l = [200, 100, 300]
l.insert(2, 10000)
print(l)

[200, 100, 10000, 300]

## 문제3 : 변수의 타입
다음 출력 값으로 올바른 것은?

In [ ]:
ㅣ = [100, 200, 300]
print(type(l))

<class 'list'>

## 문제4 : 변수의 타입2
다음 변수 a를 print(type(a))로 넣었을 때 출력될 값과의 연결이 알맞지 않은 것은?

In [ ]:
a = 1
print(type(a))

<class 'int'>

In [ ]:
a = 2.22
print(type(a))

<class 'float'>

In [ ]:
a = 'p'
print(type(a))

<class 'str'>

In [ ]:
a = [1, 2, 3]
print(type(a))

<class 'list'>

## 문제5 : for문 계산
다음 코드의 출력 값으로 알맞은 것은?

In [ ]:
a = 10
b = 2
for i in range(1, 5, 2):
  a += i

print(a+b)

16

## 문제6 : False
다음은 파이썬 문법 중에서 False로 취급하는 것들 입니다.
앗, False로 취급하지 않는 것이 하나 있네요! True를 찾아주세요.

In [ ]:
a = None

if a:
  print(a)

In [ ]:
a = 1

if a:
  print(a)

1

In [ ]:
a = ""

if a:
  print(a)

In [ ]:
a = 0

if a:
  print(a)

In [ ]:
a = bool(0)

if a:
  print(a)

## 문제7 : 변수명
다음 중 변수명으로 사용할 수 없는 것 2개를 고르시오.

In [ ]:
age = 1
a = 1
# as = 1
_age = 1
# 1age = 1

## 문제8 : 딕셔너리 키 이름 중복
딕셔너리를 다음과 같이 만들었다. 
출력값을 입력하시오. (출력값은 공백을 넣지 않습니다. )

In [ ]:
d = {'height':180,'weight':78,'weight':84,'temparture':36,'eyesight':1}
print(d['weight'])

84

## 문제 9 : sep과 end를 활용한 출력방법
다음 소스 코드를 완성하여 날짜와 시간을 출력하시오.

In [ ]:
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':')

2019/04/26 11:34:27

## 문제10 : 별 찍기
크리스마스 날, 은비는 친구들과 함께 파티를 하기로 했습니다. 그런데, 크리스마스 트리를 사는 것을 깜빡하고 말았습니다. 온 가게를 돌아다녀 봤지만 크리스마스 트리는 모두 품절이었습니다. 
하는 수 없이 은비는 프로그래밍으로 트리를 만들기로 합니다.

In [ ]:
n = int(input())
for i in range(1,n+1):
	print(" "*(n-i)+("*"*(2*i-1)))

5
    *
   ***
  *****
 *******
*********

In [ ]:
n = int(input())
for i in range(1,n+1):
  for j in range(0,n-i):
    print(" ", end="")
  for k in range(0,2*i-1):
    print("*", end="")
  print()

5
    *
   ***
  *****
 *******
*********