<a href="https://colab.research.google.com/github/chaelysh6z/Python-100/blob/main/Python_100%EC%A0%9C(11~30).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python 100제(11~30)**

## **문제11 : for를 이용한 기본 활용**
1부터 100까지 모두 더하는 Code를 <pass> 부분에 완성하세요. for를 사용해야 합니다.

In [1]:
s = 0

for i in range(1, 101):
  s = s + i

print(s)

5050

## **문제12 : 게임 캐릭터 클래스 만들기**
다음 소스코드에서 클래스를 작성하여 게임 캐릭터의 능력치와 '파이어볼'이 출력되게 만드시오.

**주어진 소스 코드를 수정해선 안됩니다.**

In [3]:
class Wizard:
  def __init__(self, health, mana, armor):
    self.health = health
    self.mana = mana
    self.armor = armor

  def attack(self):
    print('파이어볼')

x = Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x.mana, x.armor)
x.attack()

545 210 10
파이어볼

## **문제13 : 몇 번째 행성인가요?**
우리 태양계를 이루고 있는 행성은 수성, 금성, 지구, 화성, 목성, 토성, 천왕성, 해왕성으로 총 8개 입니다. 저희는 우리 태양계의 n번째 행성이 무엇인지 알고 싶습니다.

입력으로 행성의 순서를 나타내는 숫자 n이 입력됩니다. 예를들어 수성은 첫번째 행성입니다.

In [5]:
planets = ['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

n = int(input("몇 번째 행성인가요?"))
print(planets[n-1])

몇 번째 행성인가요?1
수성

## **문제14 : 3의 배수 인가요?**
영희는 친구와 게임을 하고 있습니다. 서로 돌아가며 랜덤으로 숫자를 하나 말하고 그게 3의 배수이면 박수를 치고 아니면 그 숫자를 그대로 말하는 게임입니다.

입력으로 랜덤한 숫자 n이 주어집니다.

만약 그 수가 3의 배수라면 '짝'이라는 글자를, 3의 배수가 아니라면 n을 그대로 출력해 주세요.

In [8]:
n = int(input("랜덤한 숫자 n을 입력하세요: "))

if n % 3 == 0:
  print("짝")
else:
  print(n)

랜덤한 숫자 n을 입력하세요: 3
짝

## **문제15 : 자기소개**
신학기가 시작되고, 아이들이 돌아가면서 자기소개를 하기로 했습니다.

만약 입력으로 `김다정`이라는 이름이 주어지면

```python
안녕하세요. 저는 김다정입니다.
```

라고 출력하게 해주세요.

In [10]:
name = input("이름을 입력하세요: ")

print('안녕하세요. 저는 {}입니다.' .format(name))

이름을 입력하세요: 이채은
안녕하세요. 저는 이채은입니다.

## **문제16 : 로꾸거**
문장이 입력되면 거꾸로 출력하는 프로그램을 만들어 봅시다.

In [14]:
str = input("문장을 입력하세요: ")
print(str[::-1])

문장을 입력하세요: 피자
자피

In [19]:
str = input("문장을 입력하세요: ")

for i in range(len(str)-1, -1, -1):
  print(str[i], end="")

문장을 입력하세요: 피자
자피

## **문제17 : 놀이기구 키 제한**
유주는 놀이공원 아르바이트 중입니다. 그런데 놀이기구마다 키 제한이 있습니다.
유주가 담당하는 놀이기구는 키가 150 이상만 탈 수 있습니다.

입력으로 키가 주어지면
키가 150이 이상이면 YES를 틀리면 NO를 출력하는 프로그램을 작성하세요.

In [20]:
height = int(input("키를 입력하세요: "))

if height >= 150:
  print("YES")
else:
  print("NO")

키를 입력하세요: 149
NO

## **문제18 : 평균 점수**

영하네 반은 국어, 수학, 영어 시험을 보았습니다. 영하는 친구들의 평균 점수를 구해주기로 했습니다.

공백으로 구분하여 세 과목의 점수가 주어지면
전체 평균 점수를 구하는 프로그램을 작성하세요. 단, 소숫점 자리는 모두 버립니다.

In [24]:
data = list(map(int, input("국어, 수학, 영어 시험의 점수를 공백으로 구분하여 입력하세요: ").split()))

print(int(sum(data)/3))

국어, 수학, 영어 시험의 점수를 띄어쓰기로 구분하여 입력하세요: 10 10 10
10

## **문제19 : 제곱을 구하자**

공백으로 구분하여 두 숫자 a와 b가 주어지면, a의 b승을 구하는 프로그램을 작성하세요.

In [26]:
n = list(map(int, input("a와 b를 공백으로 구분하여 입력하세요: ").split()))

print(n[0] ** n[1])

a와 b를 공백으로 구분하여 입력하세요: 2 4
16

## **문제20 : 몫과 나머지**
공백으로 구분하여 두 숫자가 주어집니다.
첫번째 숫자로 두번째 숫자를 나누었을 때 **그 몫과 나머지를 공백으로 구분하여 출력하세요.**

In [29]:
n = list(map(int, input().split()))

print(n[1] // n[0], n[1] % n[0])

3 7
2 1

## **문제21 : set은 어떻게 만드나요?**
다음 중 set을 만드는 방법이 아닌 것?

1)  x = {1, 2, 3, 5, 6, 7}  
**2)  x = {}**  
3)  x = set('python')  
4)  x = set(range(5))  
5)  x = set()

## **문제22 : 배수인지 확인하기**
다음 중 변수 i가 6의 배수인지 확인하는 방법으로 올바른 것은?

1)  i / 6 == 0  
**2)  i % 6 == 0**  
3)  i & 6 == 0  
4)  i | 6 == 0  
5)  i // 6 == 0

## **문제23 : OX문제**
print(10/2)의 출력 결과는 5이다. **(X)**

In [30]:
print(10/2)

5.0

## **문제24 : 대문자로 바꿔주세요!**
민지는 국제 포럼에서 아르바이트를 하게 되었습니다. 민지는 각 국에서 온 참가자들의 명단을 엑셀로 정리하고 있는데 참가자들 이름이 어떤 이는 전부 소문자, 어떤 이는 전부 대문자로 써져 있는 등 형식이 제각각이었습니다.

민지를 위해 이름이 입력되면 전부 대문자로 출력되는 프로그램을 만들어주세요.

In [32]:
name = input("이름을 입력하세요: ")

print(name.upper())

이름을 입력하세요: chaeeun Lee
CHAEEUN LEE

## **문제25 : 원의 넓이를 구하세요**
원의 넓이는 반지름의 길이 x 반지름의 길이 x 3.14로 구할 수 있습니다.
함수를 사용하여 원의 넓이를 구하는 코드를 작성해봅시다.

입력을 반지름의 길이로 정수 n이 주어지면 원의 넓이를 반환하는 함수를 만들어 주세요.
(입력을 해야하기 때문에 input을 반드시 사용해야합니다)

In [34]:
def area(r):
  return r * r * 3.14

n = int(input("반지름의 길이를 입력하세요: "))
print(area(n))

반지름의 길이를 입력하세요: 5
78.5

## **문제26 : 행성 문제2**
우리 태양계를 이루는 행성은 수성, 금성, 지구, 화성, 목성, 토성, 천왕성, 해왕성이 있습니다.
이 행성들의 영어 이름은 Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, Neptune입니다.

행성의 한글 이름을 입력하면 영어 이름을 반환하는 프로그램을 만들어 주세요.

In [36]:
planets = {
    '수성':'Mercury', 
    '금성':'Venus', 
    '지구':'Earth', 
    '화성':'Mars', 
    '목성':'Jupiter', 
    '토성':'Saturn', 
    '천왕성':'Uranus', 
    '해왕성':'Neptune'}

name = input("행성의 한글 이름을 입력하세요: ")
print(planets[name])

행성의 한글 이름을 입력하세요: 지구
Earth

## **문제27 : 딕셔너리 만들기**

첫 줄에는 학생의 이름이 공백으로 구분되어 입력되고, 두번째 줄에는 그 학생의 수학 점수가 공백으로 구분되어 주어집니다.

두 개를 합쳐 학생의 이름이 key이고 value가 수학 점수인 딕셔너리를 출력해주세요.

In [37]:
name = input("이름을 공백으로 구분하여 입력하세요: ").split()
score = list(map(int, input("점수를 공백으로 구분하여 입력하세요: ").split()))

dic = {name[0]:score[0], name[1]:score[1]}
print(dic)

이름을 공백으로 구분하여 입력하세요: Yujin Hyewon
점수를 공백으로 구분하여 입력하세요: 70 100
{'Yujin': 70, 'Hyewon': 100}

In [38]:
keys = input().split()
values = map(int, input().split())

result = dict(zip(keys, values))
print(result)

Yujin Hyewon
70 100
{'Yujin': 70, 'Hyewon': 100}

## **문제28 : 2-gram**
**2-gram**이란 문자열에서 2개의 연속된 요소를 출력하는 방법입니다. 
예를 들어 '**Python**'을 2-gram으로 반복해 본다면 다음과 같은 결과가 나옵니다.
입력으로 문자열이 주어지면 **2-gram**으로 출력하는 프로그램을 작성해 주세요.

In [41]:
str = input("문자를 입력하세요: ")

for i in range(0, len(str)-1):
  print(str[i] + str[i+1])

문자를 입력하세요: Python
Py
yt
th
ho
on

## **문제29 : 대문자만 지나가세요**
진구는 영어 학원 아르바이트를 하고 있습니다. 반 아이들은 알파벳을 공부하는 학생들인데 오늘은 대문자 쓰기 시험을 봤습니다.

알파벳 하나만을 입력하고 그 알파벳이 대문자이면 YES를 아니면 NO를 출력하는 프로그램을 만들어 주세요.

→ 알파벳 여러개를 입력하고 여러개 입력한 것 중 대문자만 출력해주는 프로그램도 만들어보세요.

In [45]:
n = input("알파벳을 하나만 입력하세요: ")

if n >= 'A' and n <= 'Z':
  print("YES")
else:
  print("NO")

알파벳을 하나만 입력하세요: a
NO

In [48]:
n = input("알파벳을 여러 개 입력하세요: ")

for i in range(0, len(n)-1):
  if n[i] >= 'A' and n[i] <= 'Z':
    print(n[i], end="")

알파벳을 여러 개 입력하세요: AppleBananaCarrot
ABC

## **문제30 : 문자열 속 문자 찾기**
문자 pineapple에는 apple이라는 문자가 숨어 있습니다. 원범이는 이렇듯 문자열 속에 숨어있는 문자를 찾아보려고 합니다.

입력으로 첫 줄에 문자열이 주어지고 둘째 줄에 찾을 문자가 주어지면 
그 문자가 시작하는 index를 반환하는 프로그램을 만들어 주세요

In [49]:
str = input("문자열을 입력하세요: ")
find = input("찾을 문자를 입력하세요: ")

str.find(find)

문자열을 입력하세요: pineapple is yummy
찾을 문자를 입력하세요: apple

4