<a href="https://colab.research.google.com/github/chaelysh6z/ITDA-Study/blob/main/%EB%B0%B1%EC%A4%80_%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98(3%EB%8B%A8%EA%B3%84~5%EB%8B%A8%EA%B3%84).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **백준 알고리즘(3단계~5단계)**

## **3단계 - for문**

### **1. 구구단**
N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성하시오. 출력 형식에 맞춰서 출력하면 된다.

In [ ]:
n = int(input())

for i in range(1, 10) :
    print("%d * %d = %d" % (n, i, n * i))

9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

### **2. A+B - 3**
두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [ ]:
T = int(input())

for i in range(0, T) :
    A, B = map(int, input().split())
    print(A + B)

3
1 2
3
4 6
10
3 5
8

### **3. 합**
n이 주어졌을 때, 1부터 n까지 합을 구하는 프로그램을 작성하시오.

In [ ]:
n = int(input())
sum = 0

for i in range(1, n + 1) :
    sum = sum + i
    
print(sum)

10
55

### **4. 빠른 A+B**
본격적으로 for문 문제를 풀기 전에 주의해야 할 점이 있다. 입출력 방식이 느리면 여러 줄을 입력받거나 출력할 때 시간초과가 날 수 있다는 점이다.

C++을 사용하고 있고 cin/cout을 사용하고자 한다면, cin.tie(NULL)과 sync_with_stdio(false)를 둘 다 적용해 주고, endl 대신 개행문자(\n)를 쓰자. 단, 이렇게 하면 더 이상 scanf/printf/puts/getchar/putchar 등 C의 입출력 방식을 사용하면 안 된다.

Java를 사용하고 있다면, Scanner와 System.out.println 대신 BufferedReader와 BufferedWriter를 사용할 수 있다. BufferedWriter.flush는 맨 마지막에 한 번만 하면 된다.

Python을 사용하고 있다면, input 대신 sys.stdin.readline을 사용할 수 있다. 단, 이때는 맨 끝의 개행문자까지 같이 입력받기 때문에 문자열을 저장하고 싶을 경우 .rstrip()을 추가로 해 주는 것이 좋다.

또한 입력과 출력 스트림은 별개이므로, 테스트케이스를 전부 입력받아서 저장한 뒤 전부 출력할 필요는 없다. 테스트케이스를 하나 받은 뒤 하나 출력해도 된다.

In [ ]:
import sys

T = int(sys.stdin.readline())

for i in range(0, T) :
    A, B = map(int, sys.stdin.readline().split())
    print(A + B)

# 외않되?

ValueError: ignored

### **5. N 찍기**
자연수 N이 주어졌을 때, 1부터 N까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.

In [ ]:
N = int(input())

for i in range(1, N + 1) :
    print(i)

10
1
2
3
4
5
6
7
8
9
10

### **6. 기찍 N**
자연수 N이 주어졌을 때, N부터 1까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.

In [ ]:
N = int(input())

for i in range(N, 0, -1) :
    print(i)

10
10
9
8
7
6
5
4
3
2
1

### **7. A+B - 7**
두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.
각 테스트 케이스마다 "Case #x: "를 출력한 다음, A+B를 출력한다. 테스트 케이스 번호는 1부터 시작한다.

In [ ]:
T = int(input())

for i in range(1, T + 1) :
    A, B = map(int, input().split())
    print("Case #%d: %d" % (i, A + B))

1
3 4
Case #1: 7

### **8. A+B - 8**
두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.
각 테스트 케이스마다 "Case #x: A + B = C" 형식으로 출력한다. x는 테스트 케이스 번호이고 1부터 시작하며, C는 A+B이다.

In [ ]:
T = int(input())

for i in range(1, T + 1) :
    A, B = map(int, input().split())
    print("Case #%d: %d + %d = %d" % (i, A, B, A + B))

2
5 6
Case #1: 5 + 6 = 11
4 5
Case #2: 4 + 5 = 9

### **9. 별 찍기 - 1**
첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

In [ ]:
N = int(input())

for i in range(1, N + 1) :
    print('*' * i)

5
*
**
***
****
*****

In [ ]:
N = int(input())

for i in range(1, N+1):
  for j in range(i):
    print('*', end="")
  print()

5
*
**
***
****
*****

### **10. 별 찍기 - 2**
첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

하지만, 오른쪽을 기준으로 정렬한 별(예제 참고)을 출력하시오.

In [ ]:
N = int(input())

for i in range(1, N + 1) :
    print(' ' * (N - i) + '*' * i)

5
    *
   **
  ***
 ****
*****

In [ ]:
N = int(input())

for i in range(1, N+1):
  for j in range(N-i):
    print(' ', end="")
  for k in range(i):
    print('*', end='')
  print()

5
    *
   **
  ***
 ****
*****

### **11. X보다 작은 수**
정수 N개로 이루어진 수열 A와 정수 X가 주어진다. 이때, A에서 X보다 작은 수를 모두 출력하는 프로그램을 작성하시오.

In [ ]:
N, X = map(int, input().split())
A = list(map(int, input().split()))

for i in range(N) :
    if A[i] < X :
        print(A[i], end=" ")

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

## **4단계 - while문**

### **1. A+B - 5**
두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.
입력의 마지막에는 0 두 개가 들어온다.

In [ ]:
A, B = map(int, input().split())

while (A != 0) and (B != 0) : 
    print(A + B)
    A, B = map(int, input().split())

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7
0 0

### **2. A+B - 4**
두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [ ]:
while True:
    try :
        A, B = map(int, input().split())
        print(A + B)
    except :
        break

3 4
7

### **3. 더하기 사이클**
0보다 크거나 같고, 99보다 작거나 같은 정수가 주어질 때 다음과 같은 연산을 할 수 있다. 먼저 주어진 수가 10보다 작다면 앞에 0을 붙여 두 자리 수로 만들고, 각 자리의 숫자를 더한다. 그 다음, 주어진 수의 가장 오른쪽 자리 수와 앞에서 구한 합의 가장 오른쪽 자리 수를 이어 붙이면 새로운 수를 만들 수 있다. 다음 예를 보자.

26부터 시작한다. 2+6 = 8이다. 새로운 수는 68이다. 6+8 = 14이다. 새로운 수는 84이다. 8+4 = 12이다. 새로운 수는 42이다. 4+2 = 6이다. 새로운 수는 26이다.

위의 예는 4번만에 원래 수로 돌아올 수 있다. 따라서 26의 사이클의 길이는 4이다.

N이 주어졌을 때, N의 사이클의 길이를 구하는 프로그램을 작성하시오.

In [ ]:
N = int(input())
n = N
cycle = 0

while True:
    a = n // 10
    b = n % 10
    c = (a + b) % 10
    n = (b * 10) + c
    cycle = cycle + 1
    if n == N:
        break
        
print(cycle)

8
20

## **5단계 - 1차원 배열**

### **1. 최소, 최대**
N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.

In [1]:
N = int(input())
A = list(map(int, input().split()))

A.sort()
print(A[0], A[N-1])

5
20 10 35 30 7
7 35

In [3]:
N = int(input())
A = list(map(int, input().split()))

print(min(A), max(A))

5
20 10 35 30 7
7 35

### **2. 최댓값**
9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.

예를 들어, 서로 다른 9개의 자연수

3, 29, 38, 12, 57, 74, 40, 85, 61

이 주어지면, 이들 중 최댓값은 85이고, 이 값은 8번째 수이다.

In [4]:
N = []

for k in range(0, 9):
    n = int(input())
    N.append(n)
    
m = 0

for i in range(0, 9):
    if N[i] > m:
        m = N[i]
        num = i + 1

print(m, num)

3
29
38
12
57
74
40
85
61
85 8

In [6]:
N = []

for k in range(0, 9):
    n = int(input())
    N.append(n)

print(max(N))
print(N.index(max(N))+1)

3
29
38
12
57
74
40
85
61
85
8

### **3. 숫자의 개수**
세 개의 자연수 A, B, C가 주어질 때 A × B × C를 계산한 결과에 0부터 9까지 각각의 숫자가 몇 번씩 쓰였는지를 구하는 프로그램을 작성하시오.

예를 들어 A = 150, B = 266, C = 427 이라면 A × B × C = 150 × 266 × 427 = 17037300 이 되고, 계산한 결과 17037300 에는 0이 3번, 1이 1번, 3이 2번, 7이 2번 쓰였다.

In [11]:
A = int(input())
B = int(input())
C = int(input())

N = list(str(A * B * C))

for i in range(0, 10):
    print(N.count(str(i)))

150
266
427
3
1
0
2
0
0
0
2
0
0

### **4. 나머지**
두 자연수 A와 B가 있을 때, A%B는 A를 B로 나눈 나머지 이다. 예를 들어, 7, 14, 27, 38을 3으로 나눈 나머지는 1, 2, 0, 2이다. 

수 10개를 입력받은 뒤, 이를 42로 나눈 나머지를 구한다. 그 다음 서로 다른 값이 몇 개 있는지 출력하는 프로그램을 작성하시오.

In [12]:
N = []

for i in range(10):
    n = int(input())
    n = n % 42
    N.append(n)
    
a = set(N)
count = len(a)
            
print(count)

1
2
3
4
5
6
7
8
9
10
10

### **5. 평균**
세준이는 기말고사를 망쳤다. 세준이는 점수를 조작해서 집에 가져가기로 했다. 일단 세준이는 자기 점수 중에 최댓값을 골랐다. 이 값을 M이라고 한다. 그리고 나서 모든 점수를 점수/M*100으로 고쳤다.

예를 들어, 세준이의 최고점이 70이고, 수학점수가 50이었으면 수학점수는 50/70*100이 되어 71.43점이 된다.

세준이의 성적을 위의 방법대로 새로 계산했을 때, 새로운 평균을 구하는 프로그램을 작성하시오.

In [14]:
N = int(input())
A = sorted(list(map(int, input().split())))
M = A[N-1]
Sum = 0

for i in range(0, N):
    A[i] = A[i] / M * 100
    Sum = Sum + A[i]
    
print(Sum / N)

3
40 80 60
75.0

### **6. OX퀴즈**
"OOXXOXXOOO"와 같은 OX퀴즈의 결과가 있다. O는 문제를 맞은 것이고, X는 문제를 틀린 것이다. 문제를 맞은 경우 그 문제의 점수는 그 문제까지 연속된 O의 개수가 된다. 예를 들어, 10번 문제의 점수는 3이 된다.

"OOXXOXXOOO"의 점수는 1+2+0+0+1+0+0+1+2+3 = 10점이다.

OX퀴즈의 결과가 주어졌을 때, 점수를 구하는 프로그램을 작성하시오.

In [16]:
n = int(input())

for k in range(n):
  s = input()
  result = 0
  count = 1

  for i in range(0, len(s)):
    if i == 0:
      if s[i] == 'O':
        result += count
    elif i > 0:
      if s[i-1] == s[i] == 'O':
        count += 1
        result += count
      elif s[i] == 'O':
        result += count
      if s[i] == 'X':
        count = 1
        
  print(result)

1
OOXXOXXOOO
10

### **7. 평균은 넘겠지**
첫째 줄에는 테스트 케이스의 개수 C가 주어진다.

둘째 줄부터 각 테스트 케이스마다 학생의 수 N(1 ≤ N ≤ 1000, N은 정수)이 첫 수로 주어지고, 이어서 N명의 점수가 주어진다. 점수는 0보다 크거나 같고, 100보다 작거나 같은 정수이다.

각 케이스마다 한 줄씩 평균을 넘는 학생들의 비율을 반올림하여 소수점 셋째 자리까지 출력한다.

In [17]:
n = int(input())

for i in range(n):
  count = 0
  sum = 0

  scores = list(map(int, input().split()))

  for j in range(1, len(scores)):
    sum = sum + scores[j]
  avg = sum / scores[0]

  for k in range(1, len(scores)):
    if scores[k] > avg:
      count += 1

  result = round((count/(len(scores)-1))*100, 3)
  print("{:.3f}%".format(result))

1
5 50 50 70 80 100
40.000%