<a href="https://colab.research.google.com/github/chaelysh6z/Python-100/blob/main/Python_100%EC%A0%9C(31~50).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python 100제(31~50)**

## **문제31 : 파이썬 자료형의 복잡도**
다음 리스트의 내장함수의 시간 복잡도가 O(1)이 아닌것은?

1)  l[i]  
2)  l.append(5)  
**3)  l[a:b]** **O(b-a)**  
4)  l.pop()  
5)  l.clear()

## **문제32 : 문자열 만들기**
취업 준비생인 혜림이는 자기소개서를 쓰고 있습니다. 열심히 자기소개서를 작성하던 도중 혜림이는 자기가 지금까지 단어를 얼마나 적었는지 궁금하게 됩니다. 

혜림이를 위해 문자열을 입력받으면 단어의 갯수를 출력하는 프로그램을 작성해 주세요.

In [1]:
s = input("문자열을 입력하세요: ").split()

print(len(s))

문자열을 입력하세요: 안녕하세요. 저는 제주대학교 컴퓨터공학전공 혜림입니다.
5

## **문제33 : 거꾸로 출력하기**
한 줄에 여러개의 숫자가 입력되면, 역순으로 그 숫자들을 하나씩 출력하는 프로그램을 작성하시오.

In [2]:
n = input("여러 개의 숫자를 공백으로 구분하여 입력하세요: ").split()

for i in range(len(n)-1, -1, -1):
  print(n[i], end=" ")

여러 개의 숫자를 공백으로 구분하여 입력하세요: 1 2 3 4 5
5 4 3 2 1

## **문제34 : sort 확인하기**
민주는 체육부장으로 체육시간이 되면 반 친구들이 제대로 키 순서대로 모였는지를 확인해야 한다. 그런데 요즘 민주는 그것이 너무 번거롭게 느껴져 한 번에 확인하고 싶어한다. 

민주를 위해 키가 주어지면 순서대로 제대로 섰는지 확인하는 프로그램을 작성해보자.

In [3]:
heights = list(map(int, input("키를 공백으로 구분하여 입력하세요: ").split()))

if heights != sorted(heights):
  print("NO")

else:
  print()

키를 공백으로 구분하여 입력하세요: 176 156 155 165 166 169
NO

In [4]:
heights = list(map(int, input("키를 공백으로 구분하여 입력하세요: ").split()))
temp_heights = list(heights) # temp_heights = heights로 하면 같은 객체, list나 heights[:]로 생성하면 다른 객체

for i in range(0, len(temp_heights)):
  for j in range(i+1, len(temp_heights)):
    if temp_heights[i] > temp_heights[j]:
      temp = temp_heights[i]
      temp_heights[i] = temp_heights[j]
      temp_heights[j] = temp

print(heights)
print(temp_heights)

if heights != temp_heights:
  print("NO")
else:
  print("YES")

키를 공백으로 구분하여 입력하세요: 176 156 155 165 166 169
[176, 156, 155, 165, 166, 169]
[155, 156, 165, 166, 169, 176]
NO

## **문제35 : Factory 함수 사용하기**
2제곱, 3제곱, 4제곱을 할 수 있는 Factory 함수를 만들려고 합니다.

In [5]:
def one(n):
    def two(value):
        sq = value ** n
        return sq
    return two

a = one(2) # 2제곱을 할 수 있는 함수를 반환
b = one(3) # 3제곱을 할 수 있는 함수를 반환
c = one(4) # 4제곱을 할 수 있는 함수를 반환
print(a(10)) # a는 2제곱을 할 수 있는 함수를 가지고 있음
print(b(10)) # b는 3제곱을 할 수 있는 함수를 가지고 있음
print(c(10)) # c는 4제곱을 할 수 있는 함수를 가지고 있음

100
1000
10000

## **문제36 : 구구단 출력하기**
1~9까지의 숫자 중 하나를 입력하면 그 단의 구구단 결과를 한 줄에 출력하는 프로그램을 작성하세요.

In [6]:
n = int(input("숫자를 입력하세요: "))

for i in range(1, 10):
  print(n*i, end=" ")

숫자를 입력하세요: 2
2 4 6 8 10 12 14 16 18

## **문제37 : count 사용하기**
새 학기를 맞아 호준이네 반은 반장 선거를 하기로 했습니다.  그런데 표를 하나씩 개표하는 과정이 너무 번거롭게 느껴진 당신은 **학생들이 뽑은 후보들을 입력받으면 뽑힌 학생의 이름과 받은 표 수를 출력하는 프로그램**을 작성하기로 하였습니다.

In [7]:
data = input("뽑힌 학생의 이름을 공백으로 구분하여 입력하세요: ").split()
new_data = list(set(data)) # set은 순서가 없으므로 인덱스로 접근하려면 list로 변환

# for문을 이용한 중복 제거
# new_data = [] 
# for i in data:
#   if i not in new_data:
#     new_data.append(i)

name = new_data[0]
count = data.count(new_data[0])

for i in range(1, len(new_data)):
  if count < data.count(new_data[i]):
    name = new_data[i]
    count = data.count(new_data[i])

print("{}(이)가 총 {}표로 반장이 되었습니다." .format(name, count))

뽑힌 학생의 이름을 공백으로 구분하여 입력하세요: 원범 원범 혜원 혜원 혜원 혜원 유진 유진
혜원(이)가 총 4표로 반장이 되었습니다.

## **문제38 : 호준이의 아르바이트**
호준이는 아르바이트로 영어 학원에서 단어 시험지를 채점하는 일을 하고 있다. 호준이가 일하는 학원은 매번 1위부터 3위까지의 학생에게 상으로 사탕을 준다. 그런데 오늘은 마침 사탕이 다 떨어져서 호준이가 채점을 하고 점수를 보내면, 당신이 아이들의 숫자만큼 사탕을 사러 가기로 했다.

학생들의 점수를 공백으로 구분하여 입력받는다. 1위~ 3위 학생은 여러명일 수 있고 1~3위 학생 중 중복되는 학생까지 포함하여 사탕을 사기로 한다.

- 학생 수는 4명 이상입니다.
- 숫자 외에 다른 값은 입력되지 않습니다.

In [8]:
scores = list(map(int, input("점수를 공백으로 구분하여 입력하세요: ").split()))
new_scores = sorted(list(set(scores)), reverse=True) # reverse=True로 하면 오름차순 정렬

count = 0

if len(new_scores) <= 3:
  count = len(scores)
else:
  for i in range(0, 3):
    count = count + scores.count(new_scores[i])

print(count)

점수를 공백으로 구분하여 입력하세요: 97 86 75 66 55 97 85 97 97 95
6

## **문제39 : 오타 수정하기**
혜원이는 평소 영타가 빠르고 정확한 것을 친구들에게 자랑하고 다녔습니다. 반 친구들이 혜원이의 타자 속도가 빠르다는 것을 모두 알게 되자 혜원이는 모두의 앞에서 타자 실력을 보여주게 됩니다. 

그런데 막상 보여주려니 긴장이 되서 문장의 모든 e를 q로, n을 b로 잘못 친 것을 발견했습니다. 
혜원이는 프로그램을 돌려 재빠르게 모든 q를 e로, b를 n으로 바꾸는 프로그램을 작성하려고 합니다.

**문장이 입력되면 모든 q를 e로, b를 n으로 바꾸는 프로그램을 작성해 주세요.**

- 완성하려는 문장 안에 q나 b가 들어가지 않는다고 가정합니다.

In [9]:
s = list(input("문장을 입력하세요: "))

for i in range(len(s)):
  if s[i] == 'q':
    s[i] = 'e'
  elif s[i] == 'b':
    s[i] = 'n' 
  print(s[i], end="")

문장을 입력하세요: querty
euerty

In [10]:
s = input("문장을 입력하세요: ")
print(s.replace('q', 'e').replace('b', 'n'))

문장을 입력하세요: hqllo my bamq is hyqwob
hello my name is hyewon

## **문제40 : 놀이동산에 가자**
테마파크에 온 원범이와 친구들은 놀이기구를 타려고 합니다. 모든 놀이기구는 한번에 타는 인원수에는 제한이 없지만 제한 무게를 넘으면 무조건 다음 기구를 타야 합니다. 

**원범이와 친구들이 총 몇 명 탈 수 있는지 알 수 있는 프로그램을 작성해 주세요.**

첫번째 줄에서 제한 무게가 주어지고 두번째 줄에서는 함께한 친구들의 수 n이 주어집니다. 
그 다음 차례대로 탑승할 친구들의 몸무게가 주어집니다. 몸무게는 무작위로 주어집니다.

- 단, 놀이기구는 선착순으로만 탈 수 있습니다.
- 두 명 이상의 인원이 항상 탑승합니다.

In [11]:
limit = int(input("제한 무게를 입력하세요: "))
n = int(input("함께한 친구들의 수를 입력하세요: "))
weights = []
for i in range(n):
  weights.append(int(input("탑승할 친구들의 몸무게를 입력하세요: ")))

total = 0
count = 0

for i in range(len(weights)):
  total = total + weights[i]
  if total <= limit:
    count = count + 1
  else:
    break;

print(count)

제한 무게를 입력하세요: 50
함께한 친구들의 수를 입력하세요: 5
탑승할 친구들의 몸무게를 입력하세요: 20
탑승할 친구들의 몸무게를 입력하세요: 20
탑승할 친구들의 몸무게를 입력하세요: 20
탑승할 친구들의 몸무게를 입력하세요: 20
탑승할 친구들의 몸무게를 입력하세요: 20
2

## **문제41 : 소수판별**
숫자가 주어지면 **소수인지 아닌지 판별하는 프로그램**을 작성해주세요.
소수이면 YES로, 소수가 아니면 NO로 출력해주세요.

- 소수 : 1과 자기 자신만으로 나누어떨어지는 1보다 큰 양의 정수
- 음의 소수는 고려하지 않습니다.

In [12]:
n = int(input("숫자를 입력하세요: "))
is_prime = True

if n <= 1:
  is_prime = False
else:
  for i in range(2, n):
    if n % i == 0:
      is_prime = False
      break

if is_prime == True:
  print("YES")
else:
  print("NO")

숫자를 입력하세요: 5
YES

## **문제42 : 요일 구하기(datetime 모듈 사용)**
2020년 1월 1일은 수요일입니다. 2020년 a월 b일은 무슨 요일일까요?
두 수 a, b를 입력받아 2020년 a월 b일이 무슨 요일인지 리턴하는 함수, solution을 완성하세요.
요일의 이름은 일요일부터 토요일까지 각각 SUN, MON, TUE, WED, THU, FRI, SAT 입니다.

예를 들어 a = 5, b = 24라면 5월 24일은 일요일이므로 문자열 "SUN"를 반환하세요.

**제한 조건**

- 2020년은 윤년입니다.
- 2020년 a월 b일은 실제로 있는 날입니다. 
(13월 26일이나 2월 45일 같은 날짜는 주어지지 않습니다.)
- datetime 모듈을 사용하세요.

In [13]:
import datetime

def solution(a, b):
  date = datetime.date(2020, a, b)
  day = date.weekday()
  print(days[day])

days = ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN']
a = int(input("월을 입력하세요: "))
b = int(input("일을 입력하세요: "))
solution(a, b)

월을 입력하세요: 5
일을 입력하세요: 24
SUN

In [14]:
import datetime

m = int(input())
d = int(input())

def findDay(a, b):
    day = ["MON","TUE","WED","THU","FRI","SAT","SUN"]
    return day[datetime.date(2020, a, b).weekday()]

print(findDay(m, d))

5
24
SUN

## **문제43 : 10진수를 2진수로**
우리가 흔히 사용하는 숫자 1, 8, 19, 28893 등등...은 10진수 체계입니다.
이를 컴퓨터가 알아 들을 수 있는 2진수로 바꾸려고 합니다. 어떻게 해야할까요?

예를들어 13은 2^3 + 2^2 + 2^0 = 13 이기때문에 1101으로 표현합니다

**사용자에게 숫자를 입력받고 이를 2진수를 바꾸고 그 값을 출력해주세요.**
(bin 함수를 사용하지 않고 풀어주세요.)

In [15]:
n = int(input("숫자를 입력해주세요: "))
remainder = []

while n > 0:
  remainder.append(n%2)
  n = n // 2

for i in range(len(remainder)-1, -1, -1):
  print(remainder[i], end="")

숫자를 입력해주세요: 13
1101

## **문제44 : 각 자리수의 합**
**사용자가 입력한 양의 정수의 각 자리수의 합을 구하는 프로그램**을 만들어주세요

**예를들어**
18234 = 1+8+2+3+4 이고 정답은 18 입니다.
3849 = 3+8+4+9 이고 정답은 24입니다.

In [16]:
n = list(map(int, input("양의 정수를 입력하세요: ")))
sum = 0

for i in range(0, len(n)):
  sum = sum + n[i]

print(sum)

양의 정수를 입력하세요: 18234
18

In [17]:
n = list(map(int, input("양의 정수를 입력하세요: ")))
sum = 0

for i in n:
  sum = sum + i

print(sum)

양의 정수를 입력하세요: 3849
24

## **문제45 : time함수 사용하기**
python의 모듈 중 하나인 **time 모듈**은 1970년 1월 1일 0시 0분 0초 이후로부터 지금까지 흐른 시간을 초단위로 반환합니다

이를 이용하여 **현재 연도(2021)를 출력해보세요**

In [18]:
import time

time = time.time()
time = int(time // (3600 * 24 * 365)) + 1970
print(time)

2021

## **문제46 : str 자료형의 응용**
1부터 100까지의(100을 포함) 모든 숫자를 일렬로 놓고 모든 자릿수의 총 합을 구하세요. 

예를 들어 10부터 15까지의 모든 숫자를 일렬로 놓으면 101112131415이고 각 자리의 숫자를 더하면 25입니다.

In [27]:
s = ""

for i in range(1, 101):
  s = s + str(i)

s = list(map(int, s))

sum = 0

for i in range(len(s)):
  sum = sum + s[i]

print(sum)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 0, 1, 1, 1, 2, 1, 3, 1, 4, 1, 5, 1, 6, 1, 7, 1, 8, 1, 9, 2, 0, 2, 1, 2, 2, 2, 3, 2, 4, 2, 5, 2, 6, 2, 7, 2, 8, 2, 9, 3, 0, 3, 1, 3, 2, 3, 3, 3, 4, 3, 5, 3, 6, 3, 7, 3, 8, 3, 9, 4, 0, 4, 1, 4, 2, 4, 3, 4, 4, 4, 5, 4, 6, 4, 7, 4, 8, 4, 9, 5, 0, 5, 1, 5, 2, 5, 3, 5, 4, 5, 5, 5, 6, 5, 7, 5, 8, 5, 9, 6, 0, 6, 1, 6, 2, 6, 3, 6, 4, 6, 5, 6, 6, 6, 7, 6, 8, 6, 9, 7, 0, 7, 1, 7, 2, 7, 3, 7, 4, 7, 5, 7, 6, 7, 7, 7, 8, 7, 9, 8, 0, 8, 1, 8, 2, 8, 3, 8, 4, 8, 5, 8, 6, 8, 7, 8, 8, 8, 9, 9, 0, 9, 1, 9, 2, 9, 3, 9, 4, 9, 5, 9, 6, 9, 7, 9, 8, 9, 9, 1, 0, 0]
901

## **문제47 : set 자료형의 응용**
바울랩에서는 3월 29일 제주대학교에서 '제주 빅데이터 사회혁신 해커톤' 행사를 주최하게 되었습니다. 이에 구글 설문지를 배포하였으나 제주대학생들이 중복해서 n개씩 설문지를 제출하였습니다. **중복된 데이터들을 삭제하여 실제 접수 명단이 몇 명인지 알고 싶습니다.**

아래 주어진 데이터들로부터 중복을 제거하여 실제 접수 인원을 출력해 주세요.

In [29]:
people = [
         ('이호준', '01050442903'),
         ('이호상', '01051442904'),
         ('이준호', '01050342904'),
         ('이호준', '01050442903'),
         ('이준', '01050412904'),
         ('이호', '01050443904'),
         ('이호준', '01050442903'),
         ]

print(len(set(people)))

5

## **문제48 : 대소문자 바꿔서 출력하기**
문자열이 주어지면 대문자와 소문자를 바꿔서 출력하는 프로그램을 작성하세요.

In [46]:
s = list(input("문자열을 입력하세요: "))

for i in range(len(s)):
  s[i] = ord(s[i]) # 문자를 아스키코드로 변환
  if s[i] >= ord('A') and s[i] <= ord('Z'):
    s[i] = s[i] + 32
  elif s[i] >= ord('a') and s[i] <= ord('z'):
    s[i] = s[i] - 32
  s[i] = chr(s[i]) # 아스키코드를 문자로 변환
  print(s[i], end="")

문자열을 입력하세요: AAABBBcccddd
aaabbbCCCDDD

In [49]:
a = input("문자열을 입력하세요: ")
b = []

for i in range(len(a)):
  if a[i].islower():
    b.append(a[i].upper())
  else:
    b.append(a[i].lower())

for i in range(len(b)):
  print(b[i], end="")

문자열을 입력하세요: AAABBBcccddd
aaabbbCCCDDD

## **문제49 : 최댓값 구하기**
순서가 없는 10개의 숫자가 공백으로 구분되어 주어진다. 주어진 숫자들 중 최댓값을 반환하라.

In [57]:
n = sorted(list(map(int, input("숫자를 공백으로 구분하여 입력하세요: ").split())))
print(n[len(n)-1])

숫자를 공백으로 구분하여 입력하세요: 10 9 8 7 6 5 4 3 2 1
10

In [55]:
n = sorted(list(map(int, input("숫자를 공백으로 구분하여 입력하세요: ").split())), reverse=True)
print(n[0])

숫자를 공백으로 구분하여 입력하세요: 10 9 8 7 6 5 4 3 2 1
10

In [56]:
data = list(map(int, input().split()))
print(sorted(data)[-1])

10 9 8 7 6 5 4 3 2 1
10

## **문제50 : 버블정렬 구현하기**
버블정렬은 두 인접한 원소를 검사하여 정렬하는 방법을 말합니다. 시간 복잡도는 느리지만 코드가 단순하기 때문에 자주 사용됩니다.

아래 코드의 빈 칸을 채워 버블 정렬을 완성해 봅시다.

In [67]:
def bubble(n, data):
	for i in range(n-1):
		for j in range(n-i-1):
			if data[j] > data[j+1]:
				data[j], data[j+1] = data[j+1], data[j]
    
	for i in range(n):
		print(data[i], end = " ")

n = int(input())
data = list(map(int, input().split()))

bubble(n, data)

5
4 3 5 1 2
1 2 3 4 5